#formen{

}
#wronginput{
	color:pink;
	visibility:hidden;
}

.comment {
	position:relative;
	background-color:Gray;
	width:600px;
	margin-left:10px;
	border:solid 1px black;
	margin-bottom:20px;
	color:white;	
}

.comment p{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:30px;
}
.commentheader{
	background-color:LightSlateGray;
	height:85px;	
}

.commentheader ul{
	left:0;
	list-style:none;
	margin:0px;
	color:white;
	
	
}
.commentfooter{	
		position:absolute;
		bottom:0px;
		height:25px;
		width:600px;
		background-color:LightSlateGray;	
		
		
	}

.commentfooter li{
	display:inline;
	
}

.commentreply {
	position:relative;
	background-color:Gray;
	left:50px;
	width:600px;
	margin-left:10px;
	border:solid 1px black;
	margin-bottom:20px;
	color:white;	
}

.commentreply p{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:30px;
}


 
input{
	display:block;
	height: 25px;
	width:250px;
}
textarea
{
display:block;
width:250px;
height:100px;
}
button {
	position:relative;
	left:75px;
	width:100px;
	top:10px;

}