body{
	background-color:White;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	margin:0 auto;
	padding:0;
	min-width:1000px;
	max-width:1000px;
}
ul{
	margin:0;
	padding:0;
}
a{
	color:white;
	font-weight:bold;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	
}
#main{
	background-color:LightSlateGray;
	position:relative;
}

#nav{
	
	
	background-color:black;
	margin-bottom:12px;
}
#nav ul{

	background-color:yellow;
}
#nav li{
	
	background-color:red;
	display:inline;
	padding-right:40px;
	
}

#signin{

	color:green;
	position:relative;
	top:-18px;
	right:-780px;
	
}
#formen{

}
#wronginput{
	color:pink;
	visibility:hidden;
}

.comment {
	position:relative;
	background-color:Gray;
	width:600px;
	margin-left:10px;
	border:solid 1px black;
	margin-bottom:20px;
	color:white;	
}

.comment p{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:30px;
}
.commentheader{
	background-color:LightSlateGray;
	height:85px;	
}

.commentheader ul{
	left:0;
	list-style:none;
	margin:0px;
	color:white;
	
	
}
.commentfooter{	
		position:absolute;
		bottom:0px;
		height:25px;
		width:600px;
		background-color:LightSlateGray;	
		
		
	}

.commentfooter li{
	display:inline;
	
}

.commentreply {
	position:relative;
	background-color:Gray;
	left:50px;
	width:600px;
	margin-left:10px;
	border:solid 1px black;
	margin-bottom:20px;
	color:white;	
}

.commentreply p{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:30px;
}


 
input{
	display:block;
	height: 25px;
	width:250px;
}
textarea
{
display:block;
width:250px;
height:100px;
}
button {
	position:relative;
	left:75px;
	width:100px;
	top:10px;

}

