body{
	background-color:yellow;
	font-family:Verdana;
	font-size:15px;
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
a{
	color:white;
	font-weight:bold;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	
}
#main{
	background-color:Gray;
	padding:0;
	margin:0;
	
}

#signin{
	color:white;
	font-size:18px;
	font-weight:bold;
	position:relative;
	display:inline;
	top:-40px;
	left:80px;
}

#formen{
	position:relative;
	top: 15px;
	left: 110px;
	width:350px;
	height:350px;
	color:white;
}
#wronginput{
	color:pink;
	visibility:hidden;
}
.comment {
	position:relative;
	background-color:Gray;
	width:600px;
	margin-left:10px;
	border:solid 1px black;
	margin-bottom:20px;
	color:white;
	min-height:300px;
}

.comment p{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:30px;
}
.commentheader{
	background-color:LightSlateGray;
	height:60px;	
}

.commentheader ul{
	left:0;
	list-style:none;
	margin:0px;
	color:white;
	
	
}
.commentfooter{	
		position:absolute;
		bottom:0px;
		height:25px;
		width:600px;
		background-color:LightSlateGray;	
		
		
	}
.commentfooter ul{
	position:relative;
	left:0px;
	margin:0px;
}
.commentfooter li{
	display:inline;
	padding:120px;
}





 
input{
	display:block;
	height: 25px;
	width:250px;
}
textarea
{
display:block;
width:250px;
height:100px;
}
button {
	position:relative;
	left:75px;
	width:100px;
	top:10px;

}

